#jct_jcs_price_data {
  padding-top: 0;
}

.jcs_container {
  background: #fbf3eb;
  box-shadow: 0 0 10px #ffb24a;
  padding: 20px;

  h5 {
    font-weight: bold;
    margin-top: 0;
    font-size: $typescale-06;
  }

  p {
    font-size: $typescale-06;
    margin: 0;
  }

  a {
    font-weight: bold;
    text-decoration: none;
  }

  a.modal-trigger {
    display: block;
    text-align: right;
    color: #ffb24a;
    text-decoration: none;
    font-weight: bold;
    font-size: $typescale-06;
  }
}