<header class="query" id="jct_query">
    <ul style="list-style: none; text-align: right; margin: 0 10px 0 0">
        {{ range $.Site.Home.AllTranslations }}
        <li style="display: inline-block;"><a style="text-decoration: none; font-size: 0.8em" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
        {{ end }}
    </ul>
    <div class="container">
        {{- partial "header-logo.html" . -}}
        <h1>Est-ce conforme au Plan S?</h1>
        <div class="row row-inputs" id="jct_inputs_plugin"></div>
    </div>
</header>